<!DOCTYPE html>
<head>
    <title>Example of how to render HTML from Node using Express</title>
</head>
<body>
    {{{body}}}
    <footer>
        <hr>
        <p>This content will appear on all pages. &copy; iO Academy</p>
    </footer>
</body>
</html>